<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" href="css/normalize.css" />
    <style>
      body {
        padding: 10px;
      }
      .container {
        border: 3px solid lightgray;
        display: flex;
        flex-direction: row;
      }
      .box {
        /* background: gold; */
        /* width: 5rem; */
        /* height: 5rem; */
        margin: 1rem;
      }
      .box > a {
        text-decoration: none;
        font-size: 24px;
      }
      .item-box:hover {
        color: blue;
      }
      .logo {
        width: 96px;
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="box"><a class="item-box" href="#">Home</a></div>
        <div class="box"><a class="item-box" href="#">About</a></div>
        <div class="box"><a class="item-box" href="#">Cource</a></div>
        <div class="box">
          <a class="item-box" href="#">Artificial Intelligence</a>
        </div>
        <div class="box"><a class="item-box" href="#">Contact Us</a></div>
        <img class="logo" src="images/HoloG.png" alt="" />
      </div>
    </nav>
  </body>
</html>
